<div class="content">
</div>

<footer class="footer">
    <!-- Блок переводчика Google -->
    <div id="google_translate_element"></div>
</footer>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'ru'}, 'google_translate_element');
    }
</script>
<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* чтобы футер всегда был внизу страницы */
    }

    .content {
        flex: 1;
        /* Добавляем прокрутку, если контент не помещается на страницу */
        overflow-y: auto;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        background-color: #f8f9fa;
        padding: 10px;
        text-align: center;
    }
</style>
