
<footer class="footer p-3 bg-dark">
    <div class="container">
        <span class="text-muted"></span>
    </div>

    <!-- Блок переводчика Google -->
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'ru'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</footer>
