<!-- navbar.html -->
<section class="my-navigation">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="{{ url_for('static', filename='img/GeekGenius-logo.png') }}" class="d-inline-block align-top" alt="GeekGenius-logo"
                 width="30" height="30">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Разделы блога
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
              <li><a class="dropdown-item" href="{{ url_for('main.polynomial_regression') }}">Полиномиальная регрессия</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.gradient_boosting') }}">Градиентный бустинг</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.recurrent_neural_network') }}">Рекуррентная нейронная сеть</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
            <div class="nav-item">
              <span class="navbar-text me-2">Привет! {{ current_user.username }}</span>
              <a href="/logout" class="btn btn-outline-light">Выход</a>
            </div>
          {% else %}
            <button type="button" class="btn btn-outline-light ms-2" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</button>
            <button type="button" class="btn btn-outline-light ms-2" data-bs-toggle="modal" data-bs-target="#signUpModal">Регистрация</button>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</section>

<style>
    .modal-header, .modal-footer {
        background-color: #f8f9fa;
        border-bottom: 1px solid #f8f9fa;
        border-top: 1px solid #f8f9fa;
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-label {
        margin-bottom: .5rem;
    }

    .form-control {
        margin-bottom: 1rem; /* Добавляем немного отступа между полями */
    }

    .btn-primary {
        width: 100%; /* Кнопка на всю ширину */
    }

    .modal-title {
        margin: auto; /* Центрирование заголовка */
    }

    .close {
        background-color: transparent; /* Убираем фон крестика */
        border: none;
        border-radius: 50%; /* Круглая форма */
        color: black; /* Черный цвет текста */
        font-weight: bold; /* Жирный шрифт */
        opacity: 1; /* Убрать стандартную полупрозрачность */
    }

    .close:hover {
        opacity: 0.8; /* Небольшое затемнение при наведении */
    }

    .close span {
        font-weight: bold; /* Жирное отображение крестика */
    }
</style>
<!-- Вход в систему -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Вход в систему</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="loginForm" method="POST" action="/login">
                <div class="modal-body">
                    <div id="loginError" class="alert alert-danger" style="display: none;"></div>
                    <label for="email" class="modal-label">Электронная почта</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Введите адрес электронной почты"/>
                    <label for="password" class="modal-label">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Введите пароль"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        if (!email || !password) {
            document.getElementById("loginError").innerHTML = "Пожалуйста, заполните все поля.";
            document.getElementById("loginError").style.display = "block";
            event.preventDefault();
            return;
        }
    });
</script>


<!-- Регистрация -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalLabel">Регистрация</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="signupForm" method="POST" action="/sign-up">
                <div class="modal-body">
                    <div id="signupError" class="alert alert-danger" style="display: none;"></div>
                    <label for="first_name" class="modal-label">Имя</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Введите имя">
                    <label for="last_name" class="modal-label">Фамилия</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Введите фамилию">
                    <label for="email" class="modal-label">Электронная почта</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Введите адрес электронной почты">
                    <label for="username" class="modal-label">Имя пользователя</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Введите имя пользователя">
                    <label for="password1" class="modal-label">Пароль</label>
                    <input type="password" id="password1" name="password1" class="form-control" placeholder="Введите пароль">
                    <label for="password2" class="modal-label">Повторите пароль</label>
                    <input type="password" id="password2" name="password2" class="form-control" placeholder="Введите пароль еще раз">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("signupForm").addEventListener("submit", function(event) {
        var firstName = document.getElementById("first_name").value;
        var lastName = document.getElementById("last_name").value;
        var email = document.getElementById("email").value;
        var username = document.getElementById("username").value;
        var password1 = document.getElementById("password1").value;
        var password2 = document.getElementById("password2").value;

        if (!firstName || !lastName || !email || !username || !password1 || !password2) {
            document.getElementById("signupError").innerHTML = "Пожалуйста, заполните все поля.";
            document.getElementById("signupError").style.display = "block";
            event.preventDefault();
            return;
        }

        if (password1 !== password2) {
            document.getElementById("signupError").innerHTML = "Пароли не совпадают.";
            document.getElementById("signupError").style.display = "block";
            event.preventDefault();
            return;
        }
    });
</script>
