.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-fixed {
    width: 300px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header,
.card-footer,
.modal-header,
.modal-footer {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.btn-primary {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: block;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer {
    font-size: 14px;
    color: #666;
    margin-top: auto;
}

.button-more {
    width: 100%;
}

.card-body {
    overflow-y: auto;
}

.card-title a {
    color: #007bff;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}
