{% extends "base.html" %}
{% block title%}{% endblock %}
{% block content %}

<h1>About</h1>

<strong>Here on Fast Blog, creating an article is swift and reading articles are hassle free.
    This blog was created as an end of semester project required by Altschool. 
</strong>
<div align="center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <p>These are my social media handles <a href="https://twitter.com/alnuelCode_X" class="fa fa-twitter"></a>  <a href="https://www.linkedin.com/in/emmanuel-albert-370131180/" class="fa fa-linkedin"></a></p>
</div>



{% endblock %}